@import url("navbar_mobile.css") all and (max-width: 767px);
@import url("navbar_z0.css") all and (min-width: 768px);

/* Hide mobile stuff */
#navbar_mobile_frame_top {
    display: none;
}
#navbar_mobile_frame_side {
    display: none;
}
#mobile_strip {
    display: none;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: black;
}

#slide_container {
	margin: 0 auto;
	width: 1350px;
	font-family: "Arial";
}

.slide {
	padding: 2%;
	width: 100%;
	border-bottom: 1px solid grey;
	box-sizing: border-box;
}

.left_container {
	width: 28%;
	display: inline-block;
	box-sizing: border-box;
}

.left_container .image_square img {
	width: 100%;
	max-width: 2000px;
}

.left_container .button_container .app_button {
	margin: 10px 0;
	padding: 0.5em;
	display: block;
	border: 1px solid red;
	box-sizing: border-box;
	cursor: pointer;
	color: red;
	text-align: center;
	text-decoration: none;
	font-size: 1.7em;
}

.left_container .button_container .app_button:hover {
	background-color: red;
	color: black;
}

.right_container_768 {
	width: 50%;
	display: none;
	box-sizing: border-box;
	color: grey;
	vertical-align: top;
}

.right_container_768 .dependency_header {
	padding-bottom: 15px;
	text-align: center;
	font-size: 1.9em;
}

.right_container_768 .dependency_list {
	padding: 10px;
	border: 1px solid grey;
	box-sizing: border-box;
}

.right_container_768 .dependency_list span::before {
	content: "+ ";
}

.right_container_768 .dependency_list span a {
	color: red;
}

.middle_container {
	padding: 0 20px;
	width: 52%;
	display: inline-block;
	box-sizing: border-box;
	color: grey;
	vertical-align: top;
}

.middle_container .title {
	padding-bottom: 0.5em;
	font-size: 3em;
}

.middle_container .summary {
	font-size: 1.5em;
}

.middle_container .summary p:first-child {
	margin-top: 0;
}

.middle_container .summary p:last-child {
	margin-bottom: 0;
}

.middle_container .summary p a {
	color: red;
}

.right_container {
	width: 20%;
	display: inline-block;
	color: grey;
	vertical-align: top;
}

.right_container .dependency_header {
	padding-bottom: 15px;
	text-align: center;
	font-size: 1.9em;
}

.right_container .dependency_list {
	padding: 10px;
	border: 1px solid grey;
	box-sizing: border-box;
}

.right_container .dependency_list span::before {
	content: "+ ";
}

.right_container .dependency_list span a {
	color: red;
}

@media all and (max-width: 1350px) {
	#slide_container {
		width: 100%;
	}
}

@media all and (max-width: 960px) {
	.slide {
		padding-right: 4%;
		padding-left: 4%;
	}
	
	.left_container {
		width: 22%;
		font-size: 0.71em;
	}
	
	.middle_container {
		width: 60%;
		font-size: 0.85em;
	}
	
	.right_container {
		width: 18%;
	}
	
	.right_container .dependency_header {
		font-size: 2.5vw;
	}
}

@media all and (max-width: 768px) {
	.left_container {
		padding-right: 2%;
		width: 50%;
	}
	
	.right_container_768 {
		padding-left: 2%;
		display: inline-block;
	}
	
	.middle_container {
		width: 100%;
		display: block;
	}
	
	.right_container {
		display: none;
	}
}

@media all and (max-width: 500px) {
	.slide {
		padding: 8%;
	}
	
	.left_container,
	.middle_container,
	.right_container {
		width: 100%;
		display: block;
	}
	
	.left_container {
		padding-left: 0;
		font-size: 1em;
	}
	
	.right_container_768 {
		display: none;
	}
	
	.middle_container {
		font-size: 0.9em;
	}
	
	.middle_container .title {
		padding-top: 1em;
	}
	
	.right_container {
		padding-top: 1em;
	}
	
	.right_container .dependency_header {
		font-size: 2.2em;
	}
}
