<div id="navbar_mobile_frame_top">
	<a id="logo" href="https://mluzarow.github.io">
		m <div>
			<span>{luzarow}</span>
		</div>
	</a>
	<a href="javascript:void(0);" id="navbar_mobile_burg" onclick="navbarMobileOpen ()">
		<img src="img/burg.png">
	</a>
</div>

<div id="navbar_mobile_frame_side">
	<a href="javascript:void(0);" id="navbar_mobile_close" onclick="navbarMobileClose ()">
		&times;
	</a>
	<a href="https://mluzarow.github.io/blog/home" class="navbar_mobile_links">
		Blog
	</a>
	<a href="https://mluzarow.github.io/apps/home" class="navbar_mobile_links">
		Apps
	</a>
	<a href="https://mluzarow.github.io/snippets/home" class="navbar_mobile_links">
		Snippets
	</a>
</div>
