<!-- Navbar desktop -->
<div id="nb_frame">
	<a id="logo" href="https://mluzarow.github.io">
		m <div>
			<span>{luzarow}</span>
		</div>
	</a>
	<ul>
		<li>
			<a href="https://mluzarow.github.io/blog/home">
				Blog
			</a>
		</li>
		<li>|</li>
		<li>
			<a href="https://mluzarow.github.io/apps/home">
				Apps
			</a>
		</li>
		<li>|</li>
		<li>
			<a href="https://mluzarow.github.io/snippets/home">
				Snippets
			</a>
		</li>
	</ul>
</div>
